<div class="bg-light py-5">
  <div class="container">
    <h1 class="text-center text-danger display-4 font-weight-bold mb-5">Nuestros Servicios</h1>
    
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      
      <div class="col">
        <div class="card h-100 shadow-sm border-0">
          <div class="card-body bg-white">
            <h2 class="card-title text-danger h4 mb-4 font-weight-bold">Tareas</h2>
            <ul class="list-unstyled text-muted">
              <li><i class="fas fa-check-circle text-success me-2"></i>Ensayos</li>
              <li><i class="fas fa-check-circle text-success me-2"></i>Proyectos</li>
              <li><i class="fas fa-check-circle text-success me-2"></i>Programas básicos</li>
            </ul>
            <p class="text-secondary mt-4">
              Ofrecemos ayuda con una amplia variedad de tareas académicas. Nuestros expertos trabajarán contigo para asegurar que entregues trabajos de alta calidad.
            </p>
          </div>
        </div>
      </div>
      
      <div class="col">
        <div class="card h-100 shadow-sm border-0">
          <div class="card-body bg-white">
            <h2 class="card-title text-danger h4 mb-4 font-weight-bold">Tutorías</h2>
            <ul class="list-unstyled text-muted">
              <li><i class="fas fa-chalkboard-teacher text-primary me-2"></i>Individuales</li>
              <li><i class="fas fa-chalkboard-teacher text-primary me-2"></i>Grupales</li>
              <li><i class="fas fa-chalkboard-teacher text-primary me-2"></i>Asesoramiento académico</li>
            </ul>
            <p class="text-secondary mt-4">
              Nuestras tutorías personalizadas te brindarán el apoyo y la guía que necesitas para mejorar tu rendimiento académico. Trabajaremos contigo en las áreas que más lo requieran.
            </p>
          </div>
        </div>
      </div>
      
      <div class="col">
        <div class="card h-100 shadow-sm border-0">
          <div class="card-body bg-white">
            <h2 class="card-title text-danger h4 mb-4 font-weight-bold">Preparación de Exámenes</h2>
            <ul class="list-unstyled text-muted">
              <li><i class="fas fa-book text-warning me-2"></i>Estrategias de estudio</li>
              <li><i class="fas fa-book text-warning me-2"></i>Simulacros de exámenes</li>
              <li><i class="fas fa-book text-warning me-2"></i>Asesoramiento personalizado</li>
            </ul>
            <p class="text-secondary mt-4">
              Te ayudaremos a prepararte de manera efectiva para tus exámenes. Desarrollaremos contigo un plan de estudio personalizado y te brindaremos las herramientas necesarias para que te sientas confiado y seguro.
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
