<div class="bg-light py-5">
  <div class="container">
    <h1 class="text-center text-danger display-4 font-weight-bold mb-5">Tutorías Personalizadas</h1>
    
    <div class="row g-4">
      
      <div class="col-md-6">
        <h2 class="text-danger h4 font-weight-bold mb-4">Cómo Funciona</h2>
        <p class="text-secondary mb-4">
          Nuestras sesiones de tutoría están diseñadas para brindarte el apoyo y la guía que necesitas. Trabajaremos contigo de manera individual o en grupos pequeños para abordar tus áreas de oportunidad y ayudarte a alcanzar tus metas académicas.
        </p>
        <p class="text-secondary mb-4">
          Durante las sesiones, nuestros tutores expertos te proporcionarán explicaciones detalladas, ejercicios prácticos y estrategias de estudio personalizadas. Además, estarán disponibles para responder cualquier duda o inquietud que tengas.
        </p>
      </div>

      <div class="col-md-6">
        <h2 class="text-danger h4 font-weight-bold mb-4">Inscríbete Ahora</h2>
        
        <form class="bg-white border rounded shadow-sm p-4">
          <div class="mb-3">
            <label for="name" class="form-label text-secondary font-weight-bold">Nombre:</label>
            <input type="text" id="name" name="name" class="form-control" required>
          </div>
          
          <div class="mb-3">
            <label for="email" class="form-label text-secondary font-weight-bold">Correo Electrónico:</label>
            <input type="email" id="email" name="email" class="form-control" required>
          </div>
          
          <div class="mb-3">
            <label for="subject" class="form-label text-secondary font-weight-bold">Asignatura:</label>
            <input type="text" id="subject" name="subject" class="form-control" required>
          </div>
          
          <button type="submit" class="btn btn-danger btn-block font-weight-bold">
            Inscribirse
          </button>
        </form>
      </div>

    </div>
  </div>
</div>
